body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    //font-family:  Arial, Helvetica, sans-serif;
}

.avatar {
    width: 150px;
    height: 150px;
    border: 6px solid white;
    border-radius: 100%;
}

.avatar:hover {
    border: 6px solid skyblue;
    box-shadow: 0 2px 4px 0 skyblue, 0 3px 4px 0 skyblue;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #2b2839;
    color: #ffffff;
    border-left: 6px solid skyblue;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

